{% extends 'base.html' %}
{% block title %} Subscribe {% endblock %}
{% block content %}
    <div class="container">
        <div class="card" >
          <div class="card-body ">
            <h2 class="card-title"> Email service example</h2>
            <p class="card-text">This is a simple email host example. Fill out the form with your email adress. Email
                will be send to you.
             </p>
           <hr>
            {% if error_statement %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ error_statement }} :( f</strong> You should check in on some of those fields below.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
<!--    <form action="/sign-up" method="POST">-->
        <form action="{{url_for('sign_up')}}" method="POST">
          <div class="mb-3">
            first name <input type="text" class="form-control-mb-3" name="first_name" placeholder="first name">
          </div>
            <div class="mb-3">
            first name <input type="text" class="form-control-mb-3" name="last_name"  placeholder="last name">
            </div>
            <div class="mb-3">
            email    <input type="email" class="form-control-mb-3" name="email" placeholder="email">
            </div>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
          </div>

         </div>



    </div>


{% endblock %}
